/* GLOBAL */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
    border-radius: 5px;  
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 70%;  
    margin: auto;  
    margin-top: 2%;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
    margin-bottom: 2%;
}

/* HEADER */

/* top */

.top, .jumbotron{
    margin-bottom: 2%;
}
img.logo{
    height: 60px;  
    border-radius: 0;
    padding-right: 2%;
    border-right: 1px solid lightgray;  
}

nav{
    margin-top: 5%;
}
nav li {
    display:inline;
    margin-right: 1%;
  }

nav li a, nav li a:visited{
    text-transform: none;
    text-decoration: none;
    color: black;
}

nav li a:hover, nav li a:active{
    color: orange;
}

/* jumbotron */
.jumbotron, .image{
    background-position: center;  
    background-size: cover; 
}

.jumbotron{    
    background-image: url("../img/banner.jpg");            
}

.filter{
    height: 100%;
    background-color: rgba(46, 15, 15, 0.233);
    color: white;
    
}
.motivational h2, .motivational span{
    flex-shrink: 0;
}

.motivational h2{
    font-weight: 200;    
}

.motivational{
    height: 100%;
    padding-left: 5%;
    padding-bottom: 10%;
    padding-top: 20%;
}

/* MAIN */
main{
    
}

/* tutti gli elementi nel menu' ricevono uguale margine inferiore */
main > *{
     
    margin-bottom: 5%;   
}

/* titolo */

.title h1{
    font-weight:bolder;
    font-size: 30px;
}

/* sia il testo di title che del content hanno le stesse caratteristiche */
.title span, span.text{
    color: gray;
    font-size: 18px;
}

.content{
    height: 400%;
}

.content > *{
    float:left;
    min-height: 40%;
}

.content h3{
    font-weight: 600;
    margin-bottom: 12px;
}

/* Dimensionamento degli elementi del content */
.side{
    width: 19%;
}

.center, .side{
    height: 100%;
}
.center{
    width: 60%;
    margin: 0 1%;
}

/* le immagini del content */
div.image{
    height: 200px;
    margin-bottom: 20px;
}

.one{
    background-image: url("../img/img-1.jpg");
}

.two{
    background-image: url("../img/banner-2.jpg");
}

.three{
    background-image: url("../img/img-3.jpg");
}

/* FOOTER */

footer{
    text-align: center;
    margin-bottom: 2%;
}

footer span{
    color:red;
    font-size: 25px;
}